.header {
  background-image: url('./images/pattern-bg.png');
  background-size: cover;
  height: 35vh;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  position: relative;
  align-items: center;
}

main {
  height: 65vh;
}

.headingPrimary {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: -0.23px;
  color: #fff;
}

.inputBox {
  position: relative;
  overflow: hidden;
  width: 32.7rem;
  border-radius: 15px;
}

.locationInput {
  padding: 2rem;
  width: 100%;
  border: none;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.userInfo {
  position: absolute;
  bottom: -15%;
  transform: translateY(50%);
  background-color: #ffffff;
  text-align: center;
  border-radius: 15px;
  padding: 2rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  z-index: 9999;
}

.infoBox p:first-child {
  color: #2c2c2c8c;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.46px;
}

.infoBox p:last-child {
  margin-top: 1rem;
  color: #2c2c2c;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -0.18px;
}

#map {
  height: 180px;
}

@media (min-width: 46em) {
  .headingPrimary {
    font-size: 3.2rem;
    letter-spacing: -0.29px;
  }

  .inputBox {
    width: 55.5rem;
  }

  .userInfo {
    margin: 0 2rem;
    bottom: 0%;
    transform: translateY(50%);
    text-align: left;
    padding: 3rem 3rem 6rem;
    display: flex;
    flex-direction: row;
    gap: 5.4rem;
    justify-content: space-between;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
  }

  .infoBox p:first-child {
    font-size: 1.2rem;
    letter-spacing: 1.75px;
  }

  .infoBox p:last-child {
    font-weight: 500;
    font-size: 2.6rem;
    letter-spacing: -0.23px;
  }

  .infoBox {
    position: relative;
  }

  .infoBox::after {
    content: '';
    position: absolute;
    top: 15%;
    right: -18%;
    width: 1px;
    height: 100%;
    background-color: #0000003f;
  }

  .infoBox:last-child::after {
    content: '';
    width: 0;
    height: 0;
  }
}
